body{
    background-color: #333334;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: hidden;
}

.container{
    position: relative;
    display: flex;
    position: absolute;
    padding: 200px 250px;
    width: 700px;
    justify-content: center;
    align-items: center;
}

h1{
    color: grey;
}

h3{
   letter-spacing: 2px;
   color: #A9A9A9;
   font-size: 25px;
}

img{
    border-radius: 5px;
    width: 400px;
    padding-left: 170px;

}


.text{
    /* padding: 20px; */
    padding-left: 100px;
}

.launch-time{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}
.launch-time div{
    flex-basis: 190px;
    background-color: #A9A9A9;
    text-align: center;
    border-radius: 5px;
    padding: 0px;
    margin: 5px;
}
.launch-time div p {
    font-size: 30px;
    color: black;
}
.launch-time div span{
    color: black;
    text-align: center;
}
.text2{
    width: 290px;
    color: #D3D3D3;
}


/* @media (min-width: 280px) {
    .container {
      display: grid;
      place-items: center;
    }
} */

@media (max-width: 720px) {
    .container {
      display: grid;
      place-items: center;
    }
}



